*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

versions/

working_*/*.outdir
working_*/*log

blatSrc34/*/*.o
blatSrc34/*/*/*.o
blatSrc34/*/*/*.a
blatSrc34/bin
blatSrc34/webBlat/webBlat

bowtie-0.12.8/.bowtie-build.md5
bowtie-0.12.8/.bowtie-inspect.md5
bowtie-0.12.8/.bowtie.md5
bowtie-0.12.8/bowtie
bowtie-0.12.8/bowtie-build
bowtie-0.12.8/bowtie-inspect

bowtie2-2.0.0-beta7/bowtie2-align
bowtie2-2.0.0-beta7/bowtie2-align.dSYM/
bowtie2-2.0.0-beta7/bowtie2-build
bowtie2-2.0.0-beta7/bowtie2-build.dSYM/
bowtie2-2.0.0-beta7/bowtie2-inspect
bowtie2-2.0.0-beta7/bowtie2-inspect.dSYM/

ncbi-blast-2.2.27+-src/c++/Makefile

ncbi-blast-2.2.27+-src/c++/*-Debug/
