*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

versions/

working_*/*.outdir
working_*/*log

blatSrc34/*/*.o
blatSrc34/*/*/*.o
blatSrc34/*/*/*.a
blatSrc34/bin
blatSrc34/webBlat/webBlat

bowtie-0.12.8/.bowtie-build.md5
bowtie-0.12.8/.bowtie-inspect.md5
bowtie-0.12.8/.bowtie.md5
bowtie-0.12.8/bowtie
bowtie-0.12.8/bowtie-build
bowtie-0.12.8/bowtie-inspect

bowtie2-2.0.0-beta7/bowtie2-align
bowtie2-2.0.0-beta7/bowtie2-align.dSYM/
bowtie2-2.0.0-beta7/bowtie2-build
bowtie2-2.0.0-beta7/bowtie2-build.dSYM/
bowtie2-2.0.0-beta7/bowtie2-inspect
bowtie2-2.0.0-beta7/bowtie2-inspect.dSYM/

ncbi-blast-2.2.27+-src/c++/Makefile
ncbi-blast-2.2.27+-src/c++/*-Debug/
#
#	MANY, MANY files are copies and/or created during the make process!
#	Which to ignore?
#





trinityrnaseq_r2012-06-08/Chrysalis/MakeDepend.dSYM/Contents/Resources/
trinityrnaseq_r2012-06-08/Chrysalis/BreakTransByPairs
trinityrnaseq_r2012-06-08/Chrysalis/Chrysalis
trinityrnaseq_r2012-06-08/Chrysalis/GraphFromFasta
trinityrnaseq_r2012-06-08/Chrysalis/IsoformAugment
trinityrnaseq_r2012-06-08/Chrysalis/JoinTransByPairs
trinityrnaseq_r2012-06-08/Chrysalis/MakeDepend
trinityrnaseq_r2012-06-08/Chrysalis/QuantifyGraph
trinityrnaseq_r2012-06-08/Chrysalis/ReadsToTranscripts
trinityrnaseq_r2012-06-08/Chrysalis/RunButterfly
trinityrnaseq_r2012-06-08/Chrysalis/TranscriptomeFromVaryK
trinityrnaseq_r2012-06-08/Chrysalis/checkLock
trinityrnaseq_r2012-06-08/Chrysalis/obj/
trinityrnaseq_r2012-06-08/Inchworm/Makefile
trinityrnaseq_r2012-06-08/Inchworm/bin/
trinityrnaseq_r2012-06-08/Inchworm/config.h
trinityrnaseq_r2012-06-08/Inchworm/config.log
trinityrnaseq_r2012-06-08/Inchworm/config.status
trinityrnaseq_r2012-06-08/Inchworm/src/.deps/
trinityrnaseq_r2012-06-08/Inchworm/src/Makefile
trinityrnaseq_r2012-06-08/Inchworm/src/*.o
trinityrnaseq_r2012-06-08/Inchworm/src/inchworm
trinityrnaseq_r2012-06-08/Inchworm/src/FastaToDeBruijn
trinityrnaseq_r2012-06-08/Inchworm/src/ParaFly
trinityrnaseq_r2012-06-08/Inchworm/src/cigar_tweaker
trinityrnaseq_r2012-06-08/Inchworm/src/pull_reads_with_kmers
trinityrnaseq_r2012-06-08/trinity-plugins/fstrozzi-Fastool-16065e7/fastool
trinityrnaseq_r2012-06-08/trinity-plugins/jellyfish-1.1.5/.libs/
trinityrnaseq_r2012-06-08/trinity-plugins/jellyfish-1.1.5/bin/jellyfish
trinityrnaseq_r2012-06-08/trinity-plugins/jellyfish-1.1.5/jellyfish/.libs/
trinityrnaseq_r2012-06-08/trinity-plugins/jellyfish-1.1.5/jellyfish/*.o
trinityrnaseq_r2012-06-08/trinity-plugins/jellyfish-1.1.5/jellyfish/libjellyfish_la-*.lo
trinityrnaseq_r2012-06-08/trinity-plugins/jellyfish-1.1.5/jellyfish/libjellyfish_la-*.o
trinityrnaseq_r2012-06-08/trinity-plugins/jellyfish-1.1.5/libjellyfish.la
trinityrnaseq_r2012-06-08/trinity-plugins/jellyfish-1.1.5/Makefile
trinityrnaseq_r2012-06-08/trinity-plugins/jellyfish-1.1.5/autom4te.cache/
trinityrnaseq_r2012-06-08/trinity-plugins/jellyfish-1.1.5/config.h
trinityrnaseq_r2012-06-08/trinity-plugins/jellyfish-1.1.5/config.h.in~
trinityrnaseq_r2012-06-08/trinity-plugins/jellyfish-1.1.5/config.log
trinityrnaseq_r2012-06-08/trinity-plugins/jellyfish-1.1.5/config.status
trinityrnaseq_r2012-06-08/trinity-plugins/jellyfish-1.1.5/jellyfish-1.1.pc
trinityrnaseq_r2012-06-08/trinity-plugins/jellyfish-1.1.5/jellyfish/.deps/
trinityrnaseq_r2012-06-08/trinity-plugins/jellyfish-1.1.5/libtool
trinityrnaseq_r2012-06-08/trinity-plugins/jellyfish-1.1.5/tests/compat.sh
trinityrnaseq_r2012-06-08/trinity-plugins/rsem-1.1.19/rsem-for-ebseq-calculate-clustering-info
trinityrnaseq_r2012-06-08/trinity-plugins/slclust/src/slclust
trinityrnaseq_r2012-06-08/trinity-plugins/slclust/src/*.o
