.DS_Store
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
#doc/

versions/

/Makefile

blatSrc*/*/*.o
blatSrc*/*/*/*.o
blatSrc*/*/*/*.a
blatSrc*/bin
blatSrc*/webBlat/webBlat

bowtie-0.12.8/.bowtie-build.md5
bowtie-0.12.8/.bowtie-inspect.md5
bowtie-0.12.8/.bowtie.md5
bowtie-0.12.8/bowtie
bowtie-0.12.8/bowtie-build
bowtie-0.12.8/bowtie-inspect

bowtie2-2.0.0-beta7/bowtie2-align
bowtie2-2.0.0-beta7/bowtie2-align.dSYM/
bowtie2-2.0.0-beta7/bowtie2-build
bowtie2-2.0.0-beta7/bowtie2-build.dSYM/
bowtie2-2.0.0-beta7/bowtie2-inspect
bowtie2-2.0.0-beta7/bowtie2-inspect.dSYM/


bwa-0.6.2/*.o
bwa-0.6.2/bwa
bwa-0.6.2/libbwa.a


PriceSource120527/*.o
PriceSource120527/PriceTI


Velvet-20121031/Columbus_manual.pdf
Velvet-20121031/Manual.pdf
Velvet-20121031/obj/
Velvet-20121031/velvetg
Velvet-20121031/velveth
Velvet-20121031/doc/manual_src/Columbus_manual.aux
Velvet-20121031/doc/manual_src/Columbus_manual.log
Velvet-20121031/doc/manual_src/Manual.aux
Velvet-20121031/doc/manual_src/Manual.log
Velvet-20121031/doc/manual_src/Manual.out
Velvet-20121031/doc/manual_src/Manual.toc


Ray-20121031/*/*/*.o
Ray-20121031/PREFIX
Ray-20121031/Ray
Ray-20121031/RayPlatform/libRayPlatform.a
Ray-20121031/TARGETS
Ray-20121031/code/TheRayGenomeAssembler.a
Ray-20121031/showOptions
